@media screen and (max-width:420px) {

  body {
    background-color: #32CD32;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
    margin: 0;
  }
  
  #quiz-title {
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: 900;
  }

  .subtitle {
    text-align: center;
    font-size: 15px;
    color: #fff;
    margin: 0 0 25px 0;
  }
  
  .container {
    width: 330px;
    height: 840px;
    margin: 0 auto;
    background-color: #CD853F;
    border-radius: 4px;
    position: relative;
    padding: 10px 0 10px 0;
  }
    
  #question {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
  }
  
  #choices {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
    display: block;
  }
  
  #choices li {
    text-decoration: none;
    margin-top: 30px;
    font-size: 14px;
  }
  
  #choices li:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  li img {
    width: 140px;
    height: 120px;
    margin: 0 auto;
    border-radius: 8px;
    display: block;
    font-size: 17px;
  }
  
  #choices img.active  {
    transform: rotate(7turn);
    transition: 2s;
  }
  
  
  #btn, #result > a {
    background-color: #136fff;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 5px 0	#5d99ff;
    font-size: 18px;
    width: 90%;
    margin: 20px auto 30px auto ;
    user-select: none;
  }
  
  #btn:hover, #result > a:hover {
    opacity: 1.0;
  }
  
  #btn.disabled {
    background-color: #ccc;
    box-shadow: 0 5px 0 #bbb;
    opacity: 0.7;
  }
  
  #choices > li.correct {
    background-color:#FF0033;
    width: 210px;
    height: 210px;
    border-radius: 100px;
    transition: 2s;
  }
  
  #choices > li.correct::after {
    display: block;
    content:'正解！';
    color: white;
    font-weight: bold;
    font-size: 17px;
    transition: 2s;
  }
  
  #choices > li.wrong {
    background-color: #7B3CFF;
    width: 210px;
    height: 210px;
    border-radius: 100px;
    transition: 2s;
  }
  
  #choices > li.wrong::after {
    display: block;
    content:'残念!';
    color: white;
    font-weight: bold;
    font-size: 17px;
    transition: 2s;
  }
  
  #result {
    position: absolute;
    width: 80%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.8);
    top: 170px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    transition: 2s;
  }
  
  #result.hide {
    transform: translateY(-700px);
  }
  
  #result > p {
    font-size: 35px;
  }

  #result h6 {
    font-size: 18px;
  }
  
  #result > a {
    display: block;
    text-decoration: none;
    font-size: 20px;
  }

  footer {
    text-align: center;
    color: #fff;
    margin-top: 130px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  footer span {
    font-size: 20px;
  }

}